# All recursive files starting from this file's dir
root = true
[*]

# Tab indentation style
indent_style = space
tab_width = 2

# Standardize whitespace
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
